* {
    margin: 0;
    padding: 0;
    border: 2px solid royalblue;
    box-sizing: border-box;
}

.container {
    border: 3px solid rosybrown;
    flex-direction: row;
    height: 90vh;
    flex-wrap: wrap;
}

.item {
  display: inline-block;
}
