* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search_wrapper {

    display: flex;
    border: 2px solid red;
    border-radius: 30px;
}

.search_logo {

}

.search_input {
    border-radius: 50px;
    padding: 0 20px;
}
